@charset "utf-8";
@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
  font-size: 14px;
  text-align: center;
  line-height: 1.6;
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

header {
  text-align: center;
  background-color: $backdrop-color;
  padding: 1em 2em 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {}
  .nav-list {
    ul {}
    li { display: inline-block; }
    a {padding: 0 10px 0 10px;}
  }
}

footer{
  background-color: $backdrop-color;
  border-top: $base-border;
}

.wrapper {@include outer-container; padding: 0 2em 0 2em;}

// TYPO
h1 {font-weight: 700; font-size: 2.4em;}
h2 {font-weight: 400; font-size: 1.8em;}
p {font-size: 1.2em;}

// LINKS
p a {color: $red;}
p a:hover {text-decoration:underline;}
a:hover {color: $red;}

// ABSTÄNDE & SATZSPIEGEL
h1, h2, h3 {
    margin-top: 2em;
}
h4 {
    margin-top: 39px;}
p {
    margin-top: 30px;
}
figure {margin-top: 52px;}

.sitemap{
  padding-top: 8em;
  padding-bottom: 4em;
  
  @include outer-container;

  // mobile
  @media only screen and (max-width: 40em) {
    .col-12-6-3{@include span-columns(12);}
    .col-12-6-3:nth-child(1n){@include omega();}
  }
  // medium
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .col-12-6-3{@include span-columns(6);}
    .col-12-6-3:nth-child(2n){@include omega();}
  }
  // large
  @media only screen and (min-width: 64.063em) {
    .col-12-6-3{@include span-columns(3);}
    .col-12-6-3:nth-child(4n){@include omega();}
  }
}
.sitemap .cap{
  font-size: $sitemap-header-font-size;
}
