@charset "utf-8";
@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
  font-size: 14px;
  text-align: center;
  line-height: 1.6;
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

header {
  text-align: center;
  background-color: $backdrop-color;
  padding: 1em 2em 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {}
  .nav-list {
    ul {}
    li { display: inline-block; }
    a {padding: 0 10px 0 10px;}
  }
}

footer{
  background-color: $backdrop-color;
  border-top: $base-border;
}

.wrapper {@include outer-container; padding: 0 2em 0 2em;}

// TYPO
h1 {font-weight: 700; font-size: 2.4em;}
h2 {font-weight: 400; font-size: 1.8em;}
p {font-size: 1.2em;}


// SPACES
.space {
  &.mlg {margin-top: $base-spacing *4; margin-bottom: $base-spacing * 4;}
  &.mmd {margin-top: $base-spacing *2; margin-bottom: $base-spacing * 2;}
  &.msm {margin-top: $base-spacing *1; margin-bottom: $base-spacing * 1;}
  &.mblg {margin-bottom: $base-spacing *4;}
  &.mbsm {margin-bottom: $base-spacing *2;}
  &.mbsm {margin-bottom: $base-spacing *1;}
  &.pblg {padding-bottom: $base-spacing *4;}
  &.pbsm {padding-bottom: $base-spacing *2;}
  &.pbsm {padding-bottom: $base-spacing *1;}
}

// ICONS
.iconlg {
  margin-right: $base-font-size - .4em;
  font-size: $base-font-size * 1.5;
  vertical-align: middle;
}

// LINKS
p a {color: $red;}
p a:hover {text-decoration:underline;}
a:hover {color: $red;}

// LEAD
.outer-wrapper {@include outer-container;}
.lead {
  @include span-columns(10);
  @include shift(1);
    @media only screen and (max-width: 40em) {
      @include shift(0);
      @include span-columns(12);
    }
}

// ABSTÄNDE & SATZSPIEGEL
figure {margin-top: 52px;}


//GRID 2 col
.grid2col {
  ul > li {
    @include span-columns(12);
    @include omega(0n);
    @media #{$tablet} {
      @include span-columns(6);
      @include omega(2n);
    }
    @media #{$desktop} {
      @include span-columns(6);
      @include omega(2n);
    }
  }
  ul > li > ul >li {
  @include span-columns(12);
  @include omega(0n);
  }
}

//GRID 4 col
.grid4col {
  ul > li {
    @include span-columns(12);
    @include omega(0n);
    @media #{$tablet} {
      @include span-columns(6);
      @include omega(2n);
    }
    @media #{$desktop} {
      @include span-columns(3);
      @include omega(4n);
    }
  }
  ul > li > ul >li {
  @include span-columns(12);
  @include omega(0n);
  }
}

// FOOTER
.newsletter {
  @include shift(2);
  @include span-columns(8);
  .email {
    max-width: 450px; margin-left: auto; margin-right: auto;
  }
  .button {
    margin-bottom: .75em;;
  }
  .clear {
    clear: both;
  }
  small {
    color: $medium-gray;
  }
}

.meta {
  font-size: $base-font-size - .1em;
  color: $medium-gray;
}

.sitemap{
  padding-top: 8em;
  padding-bottom: 4em;
  a {
    color: $medium-gray;
  }
  .cap {
    font-size: $base-font-size - .125em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: $small-spacing;
  }
  // medium
  @media #{$tablet} {}
  // large
  @media #{$desktop} {}
}


// the heart is important
i.icon-heart {
  font-size: $base-font-size - 0.1em;
  &:hover{
    color: $red;
    @include animation(pulsate 2.0s ease-out);
    @include animation-iteration-count(infinite);
  }
}

@-webkit-keyframes pulsate {
  0% {   opacity: 0.5;  }
  50% {    opacity: 1.0;  }
  100% {    opacity: 0.5;  }
}
