@charset "utf-8";


@import "variables";
@import "uikit/_import";
@import "font";
@import "sites";
@import "coin";

// icons
.padding-0 > li > a {
  padding: 0px !important;
}

.hyphens {
  hyphens: auto;
}
.mt1 {margin-top: 2em;}
.mt5 {margin-top: 4em;}

.smallerFontSizeBecauseMyNameIsTooLong-SorryMaike {
  font-size: 15px;
}

.icon-heart::before {
  color: $red;
}

a.red-font {
  color: $red;
  &:hover{
    color: darken($red, 10%);
    text-decoration: none;
  }
}
.bgfooter {
  background-color: #fdfcf9;
}

a.n42-link {
  color: #444 !important;
}

span.contact {
  svg {
    color: $red;
  }
}


.img-border {
  border: 1px solid #ddd;
}

.source{font-size: 0.65em;color:#888;}

.heart > svg {
  color: $red;
}

.iconlg {
  font-size: 2.5em;
  vertical-align: middle;
}

.iconred {
    color: #D24335;
}

h1 {
  font-size: 4em;
  font-weight: 700;
}

h2 {
  font-size: 3em;
  font-weight: 500;
}
h4 {
  font-size: 1.8em;
  font-weight: 400;
}
h3 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top:0;
}

.n42-margin {
  margin: 1.6em 0em;
}
html {
    height: 100%;
}
body {
    display: flex ;
    flex-direction: column;
    height: 100%;
}

.uk-open > .uk-offcanvas-bar {
  -webkit-box-shadow: -8px 0px 20px -4px rgba(0,0,0,0.34);
  -moz-box-shadow: -8px 0px 20px -4px rgba(0,0,0,0.34);
  box-shadow: -8px 0px 20px -4px rgba(0,0,0,0.34);
}

a.uk-active {
  color: $red !important;
}

.collapsable > li > a{
    height: 2.2em;
  }

footer {
    flex-shrink: 0;
}
body {
  font-size: 16px;
  text-align: center;
  line-height: 1.6;
  //color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.mb0 {
  padding-bottom: 0em !important;
}

.header {
  h1, h2, h4, p {
    font-weight: 600;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  p {

    letter-spacing: 1.2;
  }
}

.hint {
  color: $red;
  display: none;
  &.invalid {
    display: block;
  }
}

.n42-section-header {
  font-weight: 700;
  font-size: 3.2em;
  color: #444;
  &.small{
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 600;
  }
}

.n42-section-border {
  border-bottom: 1px solid #ddd;
}

.n42-container {
  padding-top: 3em;
  padding-bottom: 3em;
}
