.coin{
  perspective: 1000px;
  border-radius: 100%;
  margin: auto;
}

.coin:hover .flipper, .coin.hover .flipper{
  transform: rotateY(180deg);
}

.coin, .coin .front, .coin .back{
  max-height: 256px;
  max-width: 256px;
  width: 100%;
  border-radius: 100%;
}

.coin .flipper{
  transition: 0.6s transform ease-in-out;
  transform-style: preserve-3d;

  position: relative;
  border-radius: 100%;
}

.coin .front, .coin .back{
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;

  img{
    border-radius: 100%;
    display: block;
  }
}

.coin {
  p {
    margin-top: 0;
    margin-bottom: 1em;
  }
}


.coin .front{
  position:relative;
  overflow:hidden;
  z-index: 2;
  transform: rotateY(0deg);
}

.coin .back{
  transform: rotateY(180deg);
}
