body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;

  @media #{$phone} {
    font-size: $base-font-size - 0.2em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $base-spacing 0;
}

h1 {
  font-weight: 700;
  font-size: 3.2em;
  &.half {
    margin: 0 0 $base-spacing - 1em 0;
  }
  @media #{$phone} {
    font-size: 2.6em;
  }
}
h2 {
  font-weight: 400;
  font-size: 1.8em;
  @media #{$phone} {
    font-size: 1.4em;
  }
}


h3 {
  font-size: $base-font-size + .5em;

  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  margin-bottom: $small-spacing;
  @media #{$phone} {
    font-size: $base-font-size + .1em;
    letter-spacing: 1px;
  }
}

@media #{$phone} {
    button{
      padding: 1em 2em;
    }
    input.button {
      padding: 1em 2em;
    }
}



p {
  font-size: 1.2em;
  @media #{$phone} {
    font-size: 1em;
  }
  color: $medium-gray;
  margin: 0 0 $base-spacing 0;
}

a {
  color: $dark-gray;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

.text-left {
  text-align: left;
}
