---
title: Tour
---

<div>
  <h1>Tour</h1>
  <h2>Das Content Management System</h2>
  <p>42 Stacks besteht aus mehreren Bausteinen. Der Grundlegende ist das online Content Management System. Hier besteht für Sie die Möglichkeit den Inhalt für ihren Stack anzulegen, zu bearbeiten und schließlich auch zu veröffentlichen.
42 Stacks ist ein digitaler Katalog - nur besser. Das Prinzip ist ganz einfach: Sie können Stacks anlegen, welcher aus Kategorien und darin enthaltenden Karten besteht. In diesen Karten können Sie ihre Inhalte intuitiv und flexibel anlegen und vor allem jederzeit bearbeiten. Eine Karte kann kann Text, Bilder, Gallerien, PDFs oder HTML Strukturen enthalten. Das besondere an 42 Stacks und der große Vorteil gegenüber anderen digitalen Katalogen: Neben der großen Vielzahl an individuellen Gestaltungsmöglichkeiten und der schnellen und flexiblen Umgestaltung der Inhalte, wird ihr Stack mit unserer Hilfe auf jede Plattform gebracht und zwar als native Lösung. Bauen Sie sich also selber in kurzer Zeit, deutlich Kostengünstiger und vor allem auf ein Mal eine eigene Webdarstellung, eine iOS und eine Android App.

  </p>
</div>
